.add-review h4{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0C0C0C;
}

.add-review p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0C0C0C;
}

.add-review input,
.add-review textarea {
    padding: 30px;
}

.add-review input,
.add-review textarea {
    border: none;
}

.add-review input::placeholder,
.add-review textarea::placeholder{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.396px;
    color: rgba(0, 0, 0, 0.5);
}

.add-review input:focus::placeholder,
.add-review textarea:focus::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

.add-review .upload-image input[type="file"] {
    display: none;
}

.add-review .upload-image label {
    padding: 18px 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #009444;
    background: #DEFFED;
    border: 1px solid #009444;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}

.add-review .btn {
    color: #FFFFFF;
    background: #111430;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 40px;
}