.home .btn {
    color: #FFFFFF;
    background: #111430;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 40px;
}

.home h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.396px;
}