.navbar .logo {
    width: 150px;
    height: 47px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}

.navbar .nav-link:hover {
    border-bottom: 2px solid #7AB259;
}